@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

.btn {
  padding: 15px 30px;
  border-radius: 10px;
  border: none;
  background-color: lightcoral;
  font-size: .9em;
  font-weight: 700;
  color: #fff;
}

.App {
  width: 900px;
  height: 900px;
  margin: 0 auto;
  text-align: center;
}

.Logo {
  font-family: 'Lilita One', cursive;
  font-size: 4rem;
}

table {
  width: 600px;
  height: 600px;
  margin: 30px auto;
}

table td {
  width: 200px;
  height: 200px;
  border: 1px solid #000;
  font-family: 'Lilita One', cursive;
  font-size: 8rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 2px #217408;
}